.alert-shadow {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.alert {
    width: 80%;
    max-width: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
    background-color: var(--main-background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    color: var(--main-color);
    border: 1px solid var(--border-color);
}

.alert-title {
    margin-top: 5px;
}

.alert-text {
    margin-bottom: 24px;
}

.alert .btn-align-right {
    float: right;
}