/*//////////////////////////////////////////////////////////////////////////////
// COMMON //////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.app {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    transition: width 0.3s;
    color: var(--main-color);
    box-sizing: border-box;
    flex: 1;
}

.control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    user-select: none;
    white-space: nowrap;
}

.control h1 {
    margin-top: 3px;
    margin-bottom: 0px;
    color: var(--text-muted-color);
    font-size: 22px;
}

.page-control {
    display: flex;
    justify-content: space-between;
    user-select: none;
    height: 30px;
    white-space: nowrap;
}

#previous .material-icons-round,
#next .material-icons-round,
#search .material-icons-round {
    margin: 0px;
}

#sort-by,
#search {
    display: inline-block;
}

#collection {
    margin-top: 8px;
    padding-bottom: 20px;
    padding-bottom: 0px;
}

.filter {
    display: none;
}

.editor h4 {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.editor p {
    margin-top: 0px;
    margin-bottom: 15px;
}