.app {
    overflow-x: auto;
    padding-top: 26px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 15px;
    transition: width 0.3s;
    color: var(--main-color);
    flex: 1;
}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 62px;
    user-select: none;
    white-space: nowrap;
}

.control .btn,
.control .modern-dropdown {
    margin: 0px 3px;
    display: inline-block;
}

.control .modern-dropdown .btn {
    margin: 0px;
}

.control h1 {
    margin-top: 3px;
    margin-bottom: 0px;
    margin-right: 20px;
    color: var(--text-muted-color);
    font-size: 22px;
}

.app h3 {
    margin-top: 45px;
}