::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--overflow-color);
    border-radius: 4px;
}

body {
    margin: 0px !important;
    font-family: "Montserrat", sans-serif;
    background-color: var(--main-background-color);
    height: 100vh;
    box-sizing: border-box;
    display: none;
}

.during-transition,
.during-transition *,
.during-transition *::before,
.during-transition *::after {
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s !important;
}

.material-icons {
    vertical-align: bottom;
    font-size: 1.25em;
    font-style: normal;
    user-select: none;
    line-height: 1;
    font-weight: normal;
}

button .material-icons {
    line-height: 0.6em;
    vertical-align: middle;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a,
label,
button {
    -webkit-tap-highlight-color: transparent;
}

.set-color {
    color: var(--color);
}