::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-track-piece {
    border-radius: 5px;
    background-color: var(--overflow-background-color);
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--overflow-color);
    border-radius: 5px;
}

body {
    margin: 0px !important;
    font-family: "Montserrat", sans-serif;
    background-color: var(--main-background-color);
    overflow: auto;
    height: 100%;
}

.material-icons-round {
    vertical-align: middle;
    font-size: 1.25em;
    font-style: normal;
    user-select: none;
}

h3,
p,
td {
    vertical-align: middle;
}

.success {
    color: var(--success);
}

.warning {
    color: var(--warning);
}

.danger {
    color: var(--danger);
}