.context-menu {
    position: fixed;
    z-index: 10000;
    min-width: 150px;
    background-color: var(--main-background-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    transform: scaleX(0.8) scaleY(0);
    transform-origin: top left;
    box-shadow: 0px 0px 8px var(--shadow-color);
}

.context-menu.visible {
    transform: scaleX(1) scaleY(1);
    transition: transform 100ms ease-in-out;
}

.context-menu .item {
    background-color: transparent;
    display: block;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-muted-color);
    cursor: pointer;
    border-radius: inherit;
    transition: 0.2s;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    outline: none;
    border: 0px;
    font-family: "Montserrat", sans-serif;
}

.context-menu .item:hover:enabled {
    background-color: var(--gray-1)
}

.context-menu .item:disabled {
    opacity: 0.4;
}

.context-menu .item i {
    width: 32px;
}