.diagram-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: var(--gray-1);
    border-radius: 17px;
    border: 1px solid var(--border-color);
    border-bottom: 8px solid var(--border-color);
}

.diagram-bar {
    flex: 1;
    position: relative;
    min-width: 54px;
    margin: 0px 8px 4px 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.diagram-bar.primary {
    background-color: var(--blue);
}

.diagram-bar.success {
    background-color: var(--success);
}

.diagram-bar.warning {
    background-color: var(--warning);
}

.diagram-bar.danger {
    background-color: var(--danger);
}

.diagram-bar::after {
    content: attr(data-percent);
    position: absolute;
    height: 19px;
    width: 42px;
    top: 50%;
    left: 50%;
    margin-top: -10.5px;
    margin-left: -23px;
    color: var(--main-color);
    background-color: var(--main-background-color);
    border-radius: 4px;
    padding: 1px 2px;
    font-weight: bold;
    text-align: center;
}

.diagram-bar::before {
    content: attr(data-name);
    position: absolute;
    top: calc(100% + 20px);
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    width: 100%;
}