.horizontal-menu {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

.horizontal-menu button {
    position: relative;
    background-color: transparent;
    color: var(--text-muted-color);
    outline: none;
    border: 0px;
    font-size: 14px;
    padding-top: 14px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.2s;
}

.horizontal-menu button::after {
    position: absolute;
    bottom: 0px;
    left: 8px;
    right: 8px;
    content: "";
    background-color: transparent;
    height: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.2s;
}

@media not all and (pointer: coarse) {
    .horizontal-menu button:hover {
        background-color: var(--gray-1);
    }
}

.horizontal-menu .ripple {
    background-color: var(--blue);
    opacity: 0.7;
}

.horizontal-menu .button-active {
    color: var(--blue);
}

.horizontal-menu .button-active:after {
    background-color: var(--blue);
}

.horizontal-menu .align-right {
    margin-left: auto;
}