.main-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 62px);
}

.menu {
    padding-top: 20px;
    padding-bottom: 4px;
    padding-right: 2px;
    border-right: 1px solid var(--border-color);
    background-color: var(--main-background-color);
    overflow-y: auto;
    user-select: none;
    transition: transform 0.25s;
    z-index: 1;
    flex-shrink: 0;
}

@media (max-width: 699px) {
    .menu {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        padding-top: 0px;
        box-shadow: 0px 0px 20px var(--shadow-color);
    }
    .menu-title {
        display: block !important;
    }
}

.menu.closed {
    transform: translateX(-100%);
}

.menu-title {
    display: none;
    padding: 16px 20px;
    border-bottom: 1px solid var(--border-color);
    margin-right: -2px;
    margin-bottom: 5px;
}

.menu-title h3 {
    display: inline-block;
    color: var(--text-muted-color);
    margin: 3px 0px;
}

.menu-title .material-icons-round {
    float: right;
    margin-right: 2px;
    font-size: 28px;
    color: var(--text-muted-color);
    border-radius: 50%;
    transition: 0.15s;
    vertical-align: middle;
}

.menu-title .material-icons-round:hover {
    background-color: var(--gray-1);
    box-shadow: 0px 0px 0px 8px var(--gray-1);
}

.menu-title .material-icons-round:active {
    transform: scale(0.8);
}

.menu-link {
    text-decoration: none;
    display: block;
}

.menu-button {
    display: block;
    font-size: 14px;
    padding: 11px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    color: var(--text-muted-color);
    transition: 0.2s;
}

@media not all and (pointer: coarse) {
    .menu-button:hover {
        background-color: var(--gray-1);
    }
}

.menu-button-active {
    color: var(--blue);
    background-color: var(--blue-background) !important;
}

.menu-button .ripple {
    background-color: var(--blue);
    opacity: 0.6;
}

.menu-button .material-icons-round {
    margin-left: 5px;
    width: 30px;
}

.menu-button p {
    display: inline;
    font-weight: bold;
}

.menu .divider {
    border-top: 1px solid var(--border-color);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-right: -2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.indicator {
    height: 10px;
    width: 10px;
    float: right;
    margin: 3px 5px 3px 30px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.indicator-success {
    background-color: var(--success);
}

.indicator-danger {
    background-color: var(--danger);
}

.menu .toggle-switch {
    float: right;
    margin-left: 30px;
}