.menu {
    width: 219px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    user-select: none;
    margin-right: 0px;
    float: left;
    box-sizing: border-box;
}

.menu-link {
    text-decoration: none;
    display: block;
}

.menu-button {
    font-size: 14px;
    display: block;
    padding: 10px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    color: var(--text-muted-color);
    transition: 0.2s;
}

@media not all and (pointer: coarse) {
    .menu-button:hover {
        background-color: var(--gray-1);
    }
}

.menu-button-active {
    color: var(--blue);
    background-color: var(--blue-background);
}

.menu-button .material-icons-round {
    margin-left: 5px;
    width: 30px;
}

.menu-button p {
    display: inline;
    font-weight: bold;
}

.menu .divider {
    border-top: 1px solid var(--border-color);
    border-bottom: 0px;
    margin-right: -3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.indicator {
    height: 10px;
    width: 10px;
    float: right;
    margin: 3px 0px 3px 10px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.indicator-success {
    background-color: var(--success);
}

.indicator-danger {
    background-color: var(--danger);
}

#dark-theme-toggle-switch {
    float: right;
    margin-top: -1px;
    margin-right: 4px;
    margin-left: 20px;
}