.modern-dropdown {
    position: relative;
    border-radius: 8px;
    z-index: 1;
}

.modern-dropdown>button {
    width: 100%;
    height: 100%;
}

.dropdown-active > button {
    box-shadow: 0px -8px 8px -8px var(--shadow-color), -8px 0px 8px -8px var(--shadow-color), 8px 0px 8px -8px var(--shadow-color);
}

.dropdown-active .dropdown-content {
    box-shadow: -8px 0px 8px -8px var(--shadow-color), 8px 0px 8px -8px var(--shadow-color), 0px 8px 8px -8px var(--shadow-color);
}

.dropdown-active>button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-content {
    position: absolute;
    box-sizing: border-box;
    display: none;
    width: 100%;
    border-left: 1px solid var(--gray-1);
    border-right: 1px solid var(--gray-1);
    border-bottom: 1px solid var(--gray-1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown-content button {
    display: block;
    width: 100%;
    border: 0px;
    border-radius: 0px;
}

.dropdown-content button:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdown-content .material-icons-round {
    margin-right: 8px;
    text-align: right;
}