.modern-dropdown>button {
    cursor: pointer;
    margin: 0px;
}

.dropdown-active>button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
}

.modern-dropdown {
    position: relative;
    width: fit-content;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: auto;
    background-color: var(--main-background-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1;
}

.dropdown-content .btn {
    display: block !important;
    border: 0px;
    width: calc(100% - 1px);
    margin: 0px;
}