/*//////////////////////////////////////////////////////////////////////////
// BUTTON //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn {
    display: block;
    margin: 10px 0px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    transition: background-color 0.2s, box-shadow 0.2s;
    user-select: none;
    white-space: nowrap;
    outline: none;
    border: 0px;
    padding: 11px 24px;
}

.btn-sm {
    padding: 7px 12px;
}

.btn:disabled {
    opacity: 0.6;
}

.btn .material-icons-round {
    font-weight: bold;
}


/*////////////////////////////////////////////////////////////////////////
//// BUTTON SIMPLE (btn-sp) //////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

.btn-sp {
    color: var(--main-background-color);
    background-color: var(--color);
}

@media not all and (pointer: coarse) {
    .btn-sp:hover {
        background-color: var(--hover-color);
    }
}

.btn-sp .ripple {
    background-color: var(--ripple-color);
    opacity: 0.9;
}


/*////////////////////////////////////////////////////////////////////////
//// BUTTON LIGHT (btn-lt) ///////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

.btn-lt {
    color: var(--color);
    background-color: var(--light-bg-color);
    transition: box-shadow 0.2s;
}

@media not all and (pointer: coarse) {
    .btn-lt:hover {
        box-shadow: 0px 0px 5px var(--color);
    }
}

.btn-lt .ripple {
    background-color: var(--color);
    opacity: 0.7;
}


/*////////////////////////////////////////////////////////////////////////
//// BUTTON OUTLINED (btn-ol) ////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

.btn-ol {
    padding: 10px 24px;
    color: var(--color);
    background-color: var(--main-background-color);
    border: 1px solid var(--border-color);
}

.btn-ol.btn-sm {
    padding: 6px 12px;
}

@media not all and (pointer: coarse) {
    .btn-ol:hover {
        background-color: var(--overflow-background-color);
    }
}

.btn-ol .ripple {
    background-color: var(--main-color);
    opacity: 0.6;
}


/*////////////////////////////////////////////////////////////////////////
//// BUTTON BADGE (btn-badge) ////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////*/

.btn .btn-badge {
    color: var(--main-color);
    background-color: var(--main-background-color);
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    font-size: 0.9em;
}

.btn-secondary .btn-badge {
    background-color: var(--gray-1);
}

.btn-sm .btn-badge {
    padding-top: 0px;
    padding-bottom: 0px;
}