/*//////////////////////////////////////////////////////////////////////////
// BUTTON //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn {
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    transition: background-color 0.2s, opacity 0.2s;
    user-select: none;
    white-space: nowrap;
    outline: none;
    border: 0px;
    padding: 11px 24px 11px 24px;
}

.btn-sm {
    padding: 7px 12px 7px 12px;
}

.btn:disabled {
    opacity: 0.6;
}


/*//////////////////////////////////////////////////////////////////////////
// BUTTON PRIMARY //////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn-primary {
    color: var(--main-background-color);
    background-color: var(--blue);
}

@media not all and (pointer: coarse) {
    .btn-primary:hover {
        background-color: var(--blue-hover);
    }
}

.btn-primary.ripple-effect .ripple {
    background-color: var(--ripple-color);
    opacity: 0.6;
}


/*/ ////////////////////////////////////////////////////////////////////////
// BUTTON SECONDARY ////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn-secondary {
    border: 1px solid var(--border-color);
    padding: 10px 23px 10px 23px;
    color: var(--blue);
    background-color: var(--main-background-color);
}

.btn-secondary.btn-sm {
    padding: 6px 11px 6px 11px;
}

@media not all and (pointer: coarse) {
    .btn-secondary:hover {
        background-color: var(--gray-1);
    }
}

.btn-secondary.ripple-effect .ripple {
    background-color: var(--main-color);
    opacity: 0.8;
}


/*//////////////////////////////////////////////////////////////////////////
// BUTTON INFO /////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn-info {
    color: var(--blue);
    background-color: var(--blue-background);
    transition: box-shadow 0.2s;
}

@media not all and (pointer: coarse) {
    .btn-info:hover {
        box-shadow: 0px 0px 5px var(--blue);
    }
}

.btn-info.ripple-effect .ripple {
    background-color: var(--blue);
    opacity: 0.6;
}


/*//////////////////////////////////////////////////////////////////////////
// BUTTON SUCCESS /////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn-success {
    color: var(--main-background-color);
    background-color: var(--success);
}

@media not all and (pointer: coarse) {
    .btn-success:hover {
        background-color: var(--success-hover);
    }
}

.btn-success.ripple-effect .ripple {
    background-color: var(--ripple-color);
    opacity: 0.9;
}


/*//////////////////////////////////////////////////////////////////////////
// BUTTON WARNING /////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn-warning {
    background-color: var(--warning);
}

@media not all and (pointer: coarse) {
    .btn-warning:hover {
        background-color: var(--warning-hover);
    }
}

.btn-warning.ripple-effect .ripple {
    background-color: var(--ripple-color);
}


/*//////////////////////////////////////////////////////////////////////////
// BUTTON DANGER /////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn-danger {
    color: var(--main-background-color);
    background-color: var(--danger);
}

@media not all and (pointer: coarse) {
    .btn-danger:hover {
        background-color: var(--danger-hover);
    }
}

.btn-danger.ripple-effect .ripple {
    background-color: var(--ripple-color);
    opacity: 0.6;
}


/*//////////////////////////////////////////////////////////////////////////
// BUTTON BADGE ////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.btn-primary .btn-badge {
    color: var(--main-color);
    background-color: var(--main-background-color);
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    font-size: 0.9em;
}

.btn-primary-sm .btn-badge {
    padding-top: 0px;
    padding-bottom: 0px;
}