.modern-input {
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 0.25px;
    font-family: Arial, sans-serif;
    height: 50px;
}

.modern-input input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    color: var(--main-color);
    background-color: var(--main-background-color);
    transition: border-color 0.2s;
    caret-color: var(--main-color);
}

.modern-input input:-webkit-autofill,
.modern-input input:-webkit-autofill:hover,
.modern-input input:-webkit-autofill:focus,
.modern-input input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--main-background-color) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--main-color) !important;
}

.modern-input input:focus {
    padding: 14px;
    border: 2px solid var(--blue);
}

.modern-input p {
    width: fit-content;
    transform: translateY(-49px);
    margin-left: 10px;
    padding: 0px 5px;
    font-size: 16px;
    color: var(--text-muted-color);
    background-color: var(--main-background-color);
    border-radius: 5px;
    pointer-events: none;
    white-space: nowrap;
    transition: 0.2s ease;
}

.modern-input input:focus~p {
    transform: translateY(-73px);
    font-size: 14px;
    color: var(--blue);
}

.modern-input input:not(:placeholder-shown)~p {
    transform: translateY(-73px);
    font-size: 14px;
}