.navbar {
    height: 42px;
    padding-top: 10px;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 18px;
    white-space: nowrap;
    user-select: none;
}

.nav-title .material-icons-round {
    margin-left: 17px;
    margin-right: 9px;
    font-size: 28px;
    color: var(--text-muted-color);
    border-radius: 50%;
    transition: 0.1s;
}

.nav-title .material-icons-round:hover {
    background-color: var(--gray-1);
    box-shadow: 0px 0px 0px 8px var(--gray-1);
}

.nav-title h3 {
    display: inline-block;
    font-size: 18px;
    color: var(--text-muted-color);
    margin: 10px 0px;
}

.profile-button {
    margin-right: 12px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--orange);
    transition: 0.2s;
    line-height: 2.7em;
    white-space: nowrap;
}

.profile-button:hover {
    background-color: var(--orange-hover);
}

.profile-button p {
    margin: 0px;
    text-align: center;
    color: var(--main-background-color);
    font-size: 28px;
    font-weight: bold;
}