.navbar {
    height: 42px;
    padding-top: 10px;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
    user-select: none;
    position: sticky;
    top: 0px;
    background-color: var(--main-background-color);
    z-index: 2;
    transition: box-shadow 0.2s;
}

.navbar.when-scrolled {
    box-shadow: 0px 0px 8px var(--shadow-color);
}

@media (max-width: 699px) {
    .navbar {
        z-index: 1;
    }
}

.nav-title .material-icons,
.navbar>.material-icons,
.navbar .icon-group .material-icons {
    line-height: 42px;
    width: 42px;
    text-align: center;
    margin: 0px 14px;
    font-size: 29px;
    color: var(--text-muted-color);
    border-radius: 50%;
    transition: 0.15s;
}

.icon-group {
    display: inline-block;
}

@media not all and (pointer: coarse) {
    .navbar .material-icons:hover {
        background-color: var(--gray-1);
        box-shadow: 0px 0px 0px 2px var(--gray-1);
    }
}

.navbar>.material-icons:active {
    transform: scale(0.8);
}

.nav-title .material-icons {
    margin-right: -13px;
}

.nav-title h3 {
    display: inline-block;
    font-size: 18px;
    color: var(--text-muted-color);
    margin: 10px 18px;
}

.navbar .btn {
    margin: 0px;
}

.profile-button {
    display: inline-grid;
    margin: 0px;
    text-align: center;
    color: var(--main-background-color);
    font-size: 26px;
    font-weight: bold;
    margin-right: 12px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--warning);
    line-height: 43px;
    transition: background-color 0.2s;
}

.profile-button:hover {
    background-color: var(--warning-hover);
}

.profile-button .ripple {
    background-color: var(--ripple-color);
    opacity: 0.7;
}