.progress-bar {
    height: 20px;
    width: 100%;
    background-color: var(--gray-1);
    border-radius: 6px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.progress {
    height: 20px;
    transition: width 0.5s, background-color 0.5s;
    background-color: var(--color);
    border-radius: 6px;
    width: 0%;
}