.search-bar {
    border-radius: 8px;
    margin-bottom: auto;
    flex: 0.6;
}

.search-bar-active {
    box-shadow: 0px 0px 8px 2px var(--shadow-color);
}

.search-bar .search-field {
    box-sizing: border-box;
    display: flex;
    border-radius: 8px;
    height: 42px;
    background-color: var(--gray-1);
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}

.search-bar-active .search-field {
    background-color: var(--main-background-color) !important;
}

.search-bar .search-field .material-icons {
    color: var(--text-muted-color);
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-bar input {
    width: calc(100% - 44px);
    margin-left: 7px;
    margin-right: 7px;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: var(--main-color)
}

.search-bar input::placeholder {
    color: var(--text-muted-color);
}

.search-bar input:focus {
    outline: none;
}

.search-list {
    display: none;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--main-background-color);
    border: 0px;
}

.search-list .divider {
    border-top: 1px solid var(--border-color);
    border-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.search-list a {
    text-decoration: none;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    color: var(--main-color);
    border-radius: 8px;
    transition: 0.2s;
    font-size: 14px;
    white-space: break-spaces;
}

.search-list a:hover {
    background-color: var(--gray-1);
}