.settings-item {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 24px;
    border-radius: 8px;
    background-color: var(--gray-1);
    padding: 8px 12px;
    transition: transform 0.2s;
}

.settings-item .ripple {
    background-color: var(--blue);
    opacity: 0.5;
}

.settings-item p {
    font-size: 18px;
    display: inline;
    vertical-align: sub;
}

.settings-item .toggle-switch {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}

.settings-item button {
    float: right;
    margin-top: -3.5px;
    margin-right: -7px;
}

.settings-item .modern-dropdown {
    float: right;
    margin-top: -3.5px;
    margin-right: -7px;
}

.settings-item .modern-dropdown button {
    float: none;
    margin: 0px;
}

.settings-item .btn-badge {
    background-color: var(--gray-1);
}