.table-container {
    overflow-x: auto;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.table {
    font-size: 16px;
    border-collapse: collapse;
    border-radius: 12px;
    width: 100%;
}

.table td,
.table th {
    padding: 8px;
}

.table thead tr {
    height: 60px;
    border-bottom: 1px solid var(--border-color);
}

.table thead tr:nth-child(2) {
    display: none;
}

.table thead tr:nth-child(2) th {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 20px;
}

.table tbody tr {
    height: 42px;
    border-bottom: 1px solid var(--border-color);
    transition: 0.2s;
}

.table tbody tr:last-child {
    border: 0px;
}

.table tbody tr:hover {
    background-color: var(--gray-1);
}

.table th,
.table td {
    text-align: left;
    white-space: nowrap;
}

.table .btn-secondary {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.table button {
    width: 100%;
}

.table input {
    display: block;
    box-sizing: border-box;
    width: 90%;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 6px 4px 6px 4px;
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 0.2s;
}

.table input:focus {
    border: 1px solid var(--blue);
    box-shadow: 0px 0px 4px var(--blue);
}