.toggle-switch {
    position: relative;
    width: 42px;
    height: 22px;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 42px;
    height: 22px;
    border-radius: 11px;
    background-color: var(--gray-2);
    transition: 0.4s;
}

.toggle-switch input:checked+.slider {
    background-color: var(--blue);
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    height: 24px;
    width: 24px;
    background-color: var(--gray-3);
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(20px);
    background-color: white;
    box-shadow: 4px 4px 8px var(--shadow-color);
}