.toggle-switch {
    position: relative;
    padding-right: 22px;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0px;
    width: 42px;
    height: 22px;
    border-radius: 11px;
    background-color: var(--gray-2);
    transition: background-color 0.2s;
}

.toggle-switch input:checked+.slider {
    background-color: var(--color);
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    height: 24px;
    width: 24px;
    background-color: var(--gray-3);
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.2s !important;
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(20px);
    background-color: white;
    box-shadow: 4px 4px 8px var(--shadow-color);
}