.menu {
    flex-basis: 254px;
    width: 254px;
}

.app>div {
    display: none;
}

pre {
    box-sizing: border-box;
    word-break: break-all;
    white-space: break-spaces;
    margin: 0px;
}

pre code {
    padding: 0px 20px !important;
    border-radius: 8px;
}

.app .navbar {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 70px;
    position: unset;
}

.app .navbar h3 {
    margin: 10px 0px;
}

.code-demo {
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 18px;
    margin: 20px 0px;
}

.demo {
    margin-top: 24px;
}

.color-description {
    border-radius: 8px;
    padding: 0px 16px;
    border: 1px solid var(--border-color);
    margin: 12px 0px;
}

.color-description p {
    border-radius: 6px;
    background-color: var(--main-background-color);
    border: 1px solid var(--border-color);
    padding: 0px 4px;
}